.card-color-tan {
  background-color: $mokhoTan;
}

.button-background-color-green {
  background-color: $mokhoGreen;
  border-color: $mokhoGreen;
}

.input-background-color-tan {
  background-color: $mokhoTan;
  border-color: $mokhoGreen;
}

.contact-us-background-image {
  background-image: url('images/clothing-image-3.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.green-text {
  color: #4a573e;
}

.tan-text {
  color: $mokhoTan
}

.home-collection-background-image {
  background-image: url('images/clothing-image-4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-size: cover;
}

.home-shop-collection {
  bottom: 30%;
  color: white;
}

.home-shop-name {
  bottom: 30%
}

.home-shop-slogan {
  bottom: 39%
}

.footer-nav-color {
  background-color: #2F2E2E;
}

