.card-color-tan {
  background-color: $mokhoTan;
}

.button-background-color-green {
  background-color: $mokhoGreen;
  border-color: $mokhoGreen;
}

.input-background-color-tan {
  background-color: $mokhoTan;
  border-color: $mokhoGreen;
}

.contact-us-background-image {
  background-image: url('./images/clothing-image-3.jpg');
  background-repeat: no-repeat;
  background-size: 300px 400px;
  background-position: center;
}

.green-text {
  color: #4a573e;
}

.about-us-background-image {
  background-image: url('./images/clothing-image-4.jpg');
  background-repeat: no-repeat;
  background-size: 600px 305px;
  background-position: center;
}

.about-us-background-image2 {
  background-image: url('./images/clothing-image-11.jpg');
  background-repeat: no-repeat;
  background-size: 600px 305px;
  background-position: center;
}

.home-collection-background-image {
  background-image: url('./images/HomeImage3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-size: cover;
}

.home-shop-collection {
  bottom: 37%;
  color: white;
}

.home-shop-name {
  bottom: 30%
}

.home-shop-slogan {
  bottom: 70%
}