.card-color-tan {
  background-color: $mokhoTan;
}

.button-background-color-green {
  background-color: $mokhoGreen;
  border-color: $mokhoGreen;
}

.input-background-color-tan {
  background-color: $mokhoTan;
  border-color: $mokhoGreen;
}

.p {
  font-family: /*Arial,*/ Helvetica;
}