.card-color-tan {
  background-color: $mokhoTan;
}

.button-background-color-green {
  background-color: $mokhoGreen;
  border-color: $mokhoGreen;
}

.input-background-color-tan {
  background-color: $mokhoTan;
  border-color: $mokhoGreen;
}

.contact-us-background-image {
  background-image: url('./images/clothing-image-3.jpg');
  background-repeat: no-repeat;
  background-size: 300px 400px;
  background-position: center;
}

.green-text {
  color: #4a573e;
}